.ct-bookmark,
.ct-bookmarks-loop {
	position: absolute;
	top: 0;
	height: 100%;
	background: #7fffd4;
}

.ct-bookmark {
	width: 4px;
}

.ct-bookmarks-loop {
	background: #7fffd4;
	opacity: 0.5;
}

.ct-hide-bookmark {
	display: none;
}

.ct-bookmark-reaction {
	position: absolute;
	bottom: 16px;
	font-size: 2.5rem;
	transform: translateX(-42%) scaleY(1.6);
	pointer-events: none;
}

.ytp-progress-bar-container:hover .ct-bookmark-reaction {
	transform: translate(-42%, 30%) scaleY(0.6);
	opacity: 0.3;
}

.ct-bookmark-tooltip {
	position: absolute;
	bottom: -12px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	background: white;
	color: #0F0F0F;
	padding: 12px;
	border-radius: 4px;
	font-size: 18px;
	white-space: nowrap;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s, visibility 0.2s;
	pointer-events: none;
	z-index: 100;
	transform: translateX(-42%) scaleY(0.5);
}

.ct-bookmark:hover .ct-bookmark-tooltip {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.ct-bookmark:hover .ct-bookmark-reaction {
	display: none;
}

.ct-bookmark-tooltip .ct-bookmark-desc {
	display: inline-block;
	min-width: 120px;
	flex-shrink: 0;
	cursor: text;
	outline: none;
}

.ct-bookmark-tooltip .ct-reactions-container {
	margin-top: 8px;
}
