.ct-bookmark,
.ct-bookmarks-loop {
	position: absolute;
	top: 0;
	height: 100%;
	background: #7fffd4;
	z-index: 34;
	pointer-events: none;
}

.ct-bookmark {
	width: 2px;
}

.ct-hide-bookmark {
	display: none;
}