.ct-bookmark,
.ct-bookmarks-loop {
	position: absolute;
	top: 0;
	height: 100%;
	background: #7fffd4;
}

.ct-bookmark {
	width: 4px;
}

.ct-hide-bookmark {
	display: none;
}

.ct-bookmark-reaction {
	position: absolute;
	bottom: 16px;
	font-size: 2.5rem;
	transform: translateX(-42%) scaleY(1.6);
}

.ytp-progress-bar-container:hover .ct-bookmark-reaction {
	transform: translate(-42%, 30%) scaleY(0.6);
}
